<div class="mt-4 w-full flex items-center justify-center h-10">
  <input
    data-playlist-url
    type="text"
    class="p-2 flex-1 h-full rounded mr-4"
    placeholder="Enter youtube playlist URL"
  />
  <button
    type="button"
    data-submit-btn
    class="w-20 h-full bg-green-500 text-white rounded"
  >
    submit
  </button>
</div>
<p
  data-playlist-url-error
  class="bg-red-500 text-white p-2 text-xs hidden mt-3 rounded"
></p>
<table class="mt-4 table-auto text-white">
  <thead>
    <tr>
      <th>Song</th>
      <th>Artist</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
